.bl-container-row {
  display: flex;
  justify-content: space-around;

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 91px;
      height: 91px;
      background: #fff;
      padding: 7px;
      border-radius: 50%;
      margin: 10px 0;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 18px;
    }

    &__text {
      font-weight: 300;
      font-size: 17px;
      line-height: 20px;
      max-width: 263px;
    }
  }
}