
.bl-container__content {
    max-width: none;
    margin: 0 170px;
    font-weight: 400;
    position: relative;
  }
.bl-container__bl-container__content{
  padding: 70px 0;
}
.button-middle-container{
  display: flex;
  justify-content: center;

}
  @media (max-width: 1650px) {
    .bl-container__content {
    margin: 0 140px;
    }
  }

  @media (max-width: 1450px) {
    .bl-container__content {
    margin: 0 100px;
    }
  }

  @media (max-width: 820px) {
    .bl-container__content {
    margin: 0 40px;
    }
  }
  @media (max-width: 768px) {
    .bl-container__content {
    margin: 0 10px;
    }
  }
