.bl-advantage{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title--advantage{
  text-align: center;
  margin-bottom: 55px;
  margin-top: 0;
  font-size: 30px;
  font-weight: 400;
}
.button--advantage{
display: flex;
  justify-content: center;
}