
.bl-container--banner {
    background-image: url("../../../static/doctor.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    height: 600px;
}

.button-record {
    margin-bottom: 10px;
    background: rgba(103, 188, 158, 0.9);
    height: 70px;
    width: 400px;
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.stats {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__title {
        line-height: 36px;
        text-transform: uppercase;
        margin-bottom: 28px;
        font-size: 36px;
    }

    &__quote {
        margin-right: 160px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    &__author {
        margin-top: 20px;
        margin-right: 150px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
}

.button-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    background: #67bc9e;
    border-radius: 50px;
    color: #fff;
    padding: 21px 20px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 768px) {
    .bl-container--banner {
        background-image: none !important;
        background-color: #e9f2fb;
    }
}

@media (max-width: 1200px) {
    .bl-container--banner {
        background-position: right -310px top;
    }
}

