.fl-video {
  position: absolute;
  right:0;
  bottom: -177px;

  img {border-radius: 5px 5px 0px 0px;}

}
.fl-video__container{
  position: relative;
}
.floating-video__text {
  background: #67bc9e;
  border-radius: 0px 0px 5px 5px;
  width: 188px;
  padding: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-top: -5px;
}
.button--play{
  position: absolute;
  right: 35%;
  top:25%;
  background: #F39035;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  opacity: 80%;
}