
.implant-system__title{
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}
.implant-system__subtitle{
  font-size: 18px;
  margin-bottom: 30px;
}
.implant-system__column{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  width: 25%;
}
.col__img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  padding-bottom: 20px;
  width: 100%;
  height: 70px;
}
.col__text{
  text-align: left;
  max-width: 100%;
  font-size: 15px;
  line-height: 22px
}