
.bl-container__content--info-implant{
  display: flex;
}
.stats__title--info-implant{
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0;

}
.stats__subtitle--info-implant{
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
.stats__subtitle-extension{
  font-size: 17px;
  margin-top: 0;
}
.bl-container__rightSide{
  margin:0 0 0 140px;
}
.stats__subtitle-extension {
 list-style-type: none;
}
.subtitle-extension__text{
  margin-top: 30px;
}