.title--personal{
  padding-top: 70px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 45px
}
.personal__column{
  display: flex;
  justify-content: center;
}
.col--personal{
  text-align: center;
}

.personal__name{
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px
}
.personal__text{
  margin-top: 20px;
  font-weight: 300;
  font-size: 15px;
  color: #000;
}