.bl-price{
  background: #fff;
  font-weight: 300;
  margin-bottom: 70px;
}
.bl-price__reference{
  padding: 25px;
}
.service-position{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  padding:25px;
}
.service-position__price{
  font-weight: 600;
  white-space: nowrap;
  margin-left: 10px;
}