.bl-questions{
  text-align: center;
  background:#67bc9e;
  padding:40px;
}
.bl-questions__title{
  color: #fff;
  font-weight: 400;
  font-size: 30px;
}
.button-stats--questions{
  display: flex;
  background: #fff ;
  color:#67bc9e;
  max-width: 360px;
  width: 100%;
}