.ceil {
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  max-width: none;
  margin: 10px 130px;
  padding: 15px;
}

.schedule {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;

  .schedule__text {
    display: inline-block;
  }
}

.geolocation {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;

  .geolocation__address {
    display: inline-block;
  }
}


.call-request {
  display: flex;
  align-items: center;

  .call-request__text {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    border-bottom: 1px dashed #000000;
    margin-right: 15px;
    color: #000000;
  }
}

.call {
  display: flex;
  align-items: center;

  .call__number {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-left: 5px;
    color: #000000;
  }
}


@media (max-width: 900px) {
  .ceil {
      display: block;
  }
}