
.navBar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin:10px 130px;
    &__button{
        white-space: nowrap;
        padding: 15px;

        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        color: #000000;
        &:hover{

        }

        &--appointment{
            background: #F39035;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            font-size: 14px;
            line-height: 13px;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 250px;
            padding: 30px;

        }
    }

}



