@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Lato Light"), local("Lato-Light"),
    url("../../../font/Lato/Lato-Light.ttf") format("opentype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Lato Regular"), local("Lato-Regular"),
    url("../../../font/Lato/Lato-Regular.ttf") format("opentype");
}
